button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #ffbf00;
}
.off {
  color: #ccc;
}

.star-rating {
  background-color: #f9f9f9;
  width: 300px;
  margin: auto;
}
